# Build results
[Bb]in/
[Oo]bj/
release/
*.zip
*.exe
*.dll
*.pdb
dotnet-install.ps1

# External cloned game repositories
psychonaut_station/
OpenDream/
external/
compiled_*/
compiled_csharp/

# Generated test binaries
tests/**/*.exe
tests/**/*.pdb

# Visual Studio & IDE files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
